body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Spectral SC', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(74.59% 79.26% at 24.92% 28.24%, #1F1830 24.32%, #3F2643 91.83%);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: url('assets/Cursor.svg'), auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  cursor: url('assets/CursorPointer.svg'), pointer;
}

div {
  white-space: pre-wrap;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */ 
}

span {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */ 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

img {
  user-drag: none;
  -webkit-user-drag: none;
}

/* spectral-sc-regular - latin */
@font-face {
  font-family: 'Spectral SC';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/spectral-sc-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('assets/fonts/spectral-sc-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/spectral-sc-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/spectral-sc-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/spectral-sc-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/spectral-sc-v6-latin-regular.svg#SpectralSC') format('svg'); /* Legacy iOS */
}

/* sen-regular - latin */
@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/sen-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('assets/fonts/sen-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/sen-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/sen-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/sen-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/sen-v2-latin-regular.svg#Sen') format('svg'); /* Legacy iOS */
}
/* sen-700 - latin */
@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/sen-v2-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('assets/fonts/sen-v2-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/sen-v2-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/sen-v2-latin-700.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/sen-v2-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/sen-v2-latin-700.svg#Sen') format('svg'); /* Legacy iOS */
}
/* sen-800 - latin */
@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 800;
  src: url('assets/fonts/sen-v2-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('assets/fonts/sen-v2-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/sen-v2-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/sen-v2-latin-800.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/sen-v2-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/sen-v2-latin-800.svg#Sen') format('svg'); /* Legacy iOS */
}

/* animation */
.stone {
  animation: slide 32s linear 0s infinite;
}

.stone:hover {
  animation-play-state: paused;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@-moz-keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@-webkit-keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.stone1 {
  animation:
    animX 3.5s cubic-bezier(0.4, 0, 0.6, 1) -8s infinite alternate,
    animY 3.5s cubic-bezier(0.4, 0, 0.6, 1) -6s infinite alternate,
    scale 7s cubic-bezier(0.4, 0, 0.6, 1) -6s infinite alternate;
}

.stone2 {
  animation:
    animX 3.5s cubic-bezier(0.4, 0, 0.6, 1) -7s infinite alternate,
    animY 3.5s cubic-bezier(0.4, 0, 0.6, 1) -5s infinite alternate,
    scale 7s cubic-bezier(0.4, 0, 0.6, 1) -5s infinite alternate;
}

.stone3 {
  animation:
    animX 3.5s cubic-bezier(0.4, 0, 0.6, 1) -6s infinite alternate,
    animY 3.5s cubic-bezier(0.4, 0, 0.6, 1) -4s infinite alternate,
    scale 7s cubic-bezier(0.4, 0, 0.6, 1) -4s infinite alternate;
}

.stone4 {
  animation:
    animX 3.5s cubic-bezier(0.4, 0, 0.6, 1) -5s infinite alternate,
    animY 3.5s cubic-bezier(0.4, 0, 0.6, 1) -3s infinite alternate,
    scale 7s cubic-bezier(0.4, 0, 0.6, 1) -3s infinite alternate;
}

.stone5 {
  animation: 
    animX 3.5s cubic-bezier(0.4, 0, 0.6, 1) -4s infinite alternate,
    animY 3.5s cubic-bezier(0.4, 0, 0.6, 1) -2s infinite alternate,
    scale 7s cubic-bezier(0.4, 0, 0.6, 1) -2s infinite alternate;
}

.stone6 {
  animation:
    animX 3.5s cubic-bezier(0.4, 0, 0.6, 1) -3s infinite alternate,
    animY 3.5s cubic-bezier(0.4, 0, 0.6, 1) -1s infinite alternate,
    scale 7s cubic-bezier(0.4, 0, 0.6, 1) -1s infinite alternate;
}

.stone7 {
  animation:
    animX 3.5s cubic-bezier(0.4, 0, 0.6, 1) -2s infinite alternate,
    animY 3.5s cubic-bezier(0.4, 0, 0.6, 1) 0s infinite alternate,
    scale 7s cubic-bezier(0.4, 0, 0.6, 1) 0s infinite alternate;
}


@keyframes animX{
  0% {
    left: 22%;
  }
  100% {
    left: 70%;
  }
}
@keyframes animY{
  0% {
    top: 150px;
  }
  100% {
    top: 500px;
  }
}
@keyframes scale {
  0% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0.5;
 }
}