body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Spectral SC', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(74.59% 79.26% at 24.92% 28.24%, #1F1830 24.32%, #3F2643 91.83%);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: url('assets/Cursor.svg'), auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  cursor: url('assets/CursorPointer.svg'), pointer;
}

div {
  white-space: pre-wrap;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */ 
}

span {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */ 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

img {
  user-drag: none;
  -webkit-user-drag: none;
}

/* spectral-sc-regular - latin */
@font-face {
  font-family: 'Spectral SC';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/spectral-sc-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('assets/fonts/spectral-sc-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/spectral-sc-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/spectral-sc-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/spectral-sc-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/spectral-sc-v6-latin-regular.svg#SpectralSC') format('svg'); /* Legacy iOS */
}

/* sen-regular - latin */
@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/sen-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('assets/fonts/sen-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/sen-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/sen-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/sen-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/sen-v2-latin-regular.svg#Sen') format('svg'); /* Legacy iOS */
}

/* animation */
.stone {
  animation: slide 32s linear 0s infinite;
}

.stone:hover {
  animation-play-state: paused;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@-moz-keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@-webkit-keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-moz-keyframes fadeout {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

@-webkit-keyframes fadeout {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

